<h1>{{title}}</h1>
<h2>Background</h2>
<p>For this project, I decided to work on visualizing data from two data sets that 
contained information regarding characters in two Tabletop RPGs called Pathfinder and Dungeons & Dragons.
As a basic overview, these are games that are played cooperatively, typically at a Tabletop
with pen and paper, but there are ways to play them online as well. Tabletop Games are 
hard to explain in a few paragraphs, but the best way to think of them is a live form of
interactive storytelling. The Dungeon Master, the player who facilitates the play of the game,
creates a story and has the rest of the players unravel through their play. Each of the 
players each have their own characters, which have their own backstories that explain
their lives up to a certain point. It is up to the players to take the role of this 
character, and up the dungeon master to make everything run smoothely.</p>
<h3>Why Dungeons and Dragons and Pathfiner</h3>
<p>The easy answer for this is a lack of data for other games. Dungeons and Dragons are among the most 
    popular tabletop RPGs available today.
</p>
<h2>Purpose</h2>
<p>Initially, it may seem like there is not a lot to learn from games in a data driven context, especially
    for traditionally tabletop games like Dungeons and Dragons or Pathfinder. The thing about these games is
    that they are incredibly complex systems with books detailing how to play reaching 600 pages for Pathfinder (
        You don't need to read all 600 pages to know how to play, there are skipable sections within the book
    ). The companies that make these games can use data from surveys like the ones that I used or surveys that they
    send out to their players to learn what works and what doesn't. If they find that a certain class insn't played,
    or a certain aspect of their game isn't liked, they can use data to learn why rather than guessing. The data that
    I have and the way I will be analyzing it will be in this context, to see if there might be a way why certain classes
    or races are played over others.
</p>
<h2>How it got done</h2>
<p>Lots of if statements!</p>
