<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dnd">Dungeons and Dragons</a></li>
        <li><a href="/pathfinder">Pathfinder</a></li>
        <li><a href="/both">Both</a></li>
        <li><a href="/future">Future</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
